container_commands:
  #01-replace-awscli_conf:
  #  command: cp -rf .ebextensions/awscli.conf /etc/awslogs/awscli.conf
  02-replace-awslogs_conf:
    command: cp -rf .ebextensions/awslogs.conf /etc/awslogs/awslogs.conf
  #03-chkconfig-awslogs:
  #  command: /sbin/chkconfig awslogs on
  04-restert-awslogs:
    command: /sbin/service awslogs restart
